body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

.container {
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  background: #22c55e;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#scoreBox {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  color: #22c55e;
}

ul {
  text-align: left;
  max-width: 400px;
  margin: auto;
}


#result {
    background: #ffffff;
    color: #000000;
    padding: 30px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#result h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

#result h2 {
    font-size: 18px;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

#result ul {
    padding-left: 20px;
}